@font-face {
  font-family: 'digital-7regular';
  src: url('/fonts/digital-7-webfont.woff') format('woff2'),
       url('/fonts/digital-7-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}
:root {
    display: flex;
    justify-content: center; 
    align-content: center;
    
  }


  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  
  .head {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: blue

  }
  
  .eyewrapper {
    display: flex;
    width: 200px;
    height: 100px;
  
    justify-content: center;
    gap: 40px;
    margin-top: 20px
  }
  
  #eyeOne {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
  }
  
  #eyeTwo {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
  }
  
  #mouthwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 80px;
    justify-content: flex-start;
    
  }

  #topMouth {
    display: flex;
    gap: 60px;
    width: 100px;
    height: 30px;
    
  }

  .leftMouth {
    width: 20px;
    height: 30px;
    background-color: black;
  }
  
  #mouth {
    height:20px;
    width: 100PX;
    background-color:black
  }
  
  .neck {
    height: 60px;
    width: 100px;
    background-color: blue
  }

  .upperBodyWrapper {
    display: flex;
  }
  
  .arm {
    height: 70px;
    width: 150px;
    margin-top: 30px;
    background-color: blue
    
  }

  .leftHandWrapper {
    display: flex;
    justify-content: end;
    margin-top: 18px;
    width: 150px;
    height: 100px;
    
    
  }

  .rightHandWrapper {
    display: flex;
    justify-content: start;
    margin-top: 18px;
    width: 150px;
    height: 100px;
    
  }

    .leftPalm {
      height: 100px;
      width: 80px;
      border-radius: 5px;
      background-color: rgb(10,242,45)
    }

    .rightPalm {
      height: 100px;
      width: 80px;
      border-radius: 5px;
      background-color: rgb(10,242,45)
    }

    .fingerWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .finger {
      
      height: 10px;
      width: 50px;
      border-radius: 1px;
    }

    .thumb {
      background-color: grey;
      border-radius: 3px;
      margin-top: 3px;
      height: 15px;
      width: 50px;
    }
    

  .body {
    height: 250px;
    width: 200px;
    border-radius: 10px;
    background-color: blue;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white;
    font-size: 40px;
    font-family: 'digital-7regular';
    
  }


  #lowerBodyWrapper {
    display: flex;
    gap: 50px;
    
  }

  .leg {
    height: 120px;
    width: 50px;
    background-color: blue
  }

  #feetWrapper  {
    display: flex;
    gap: 50px;
  }

  .foot {
    height: 50px;
    width: 100px;
    background-color: rgb(10,242,45)

  }
  
#floor {
  height: 100vw;
  width: 100vw;
  background-color: darkblue;
}