:root {
    display: flex;
    justify-content: center; 
    align-content: center;
    
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .head {
    height: 200px;
    width: 200px;
    background-color: grey; 
  }
  
  .eyewrapper {
    display: flex;
    width: 200px;
    height: 100px;
  
    justify-content: center;
    gap: 40px;
    margin-top: 20px
  }
  
  #eyeOne {
    width: 30px;
    height: 30px;
    background-color: black;
  }
  
  #eyeTwo {
    width: 30px;
    height: 30px;
    background-color: black;
  }
  
  #mouthwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 80px;
    justify-content: flex-start;
    
  }

  #topMouth {
    display: flex;
    gap: 60px;
    width: 100px;
    height: 30px;
    
  }

  .leftMouth {
    width: 20px;
    height: 30px;
    background-color: black;
  }
  
  #mouth {
    height:20px;
    width: 100PX;
    background-color:black
  }
  
  .neck {
    height: 100px;
    width: 100px;
    background-color: grey;
  }

  .upperBodyWrapper {
    display: flex;

  }
  
  .leftHandWrapper {
    display: flex;
    justify-content: end;
    width: 150px;
    height: 100px;
    
  }

  .rightHandWrapper {
    display: flex;
    justify-content: start;
    width: 150px;
    height: 100px;
    
  }

    .leftPalm {
      height: 100px;
      width: 80px;
      background-color: grey;
    }

    .rightPalm {
      height: 100px;
      width: 80px;
      background-color: grey;
    }

    .fingerWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .finger {
      background-color: grey;
      height: 10px;
      width: 50px;
    }

    .thumb {
      background-color: grey;
      height: 15px;
      width: 50px;
    }
    

  .body {
    height: 300px;
    width: 200px;
    background-color: grey;
    
  }

  .arm {
    height: 70px;
    width: 200px;
    margin-top: 15px;
    background-color: grey;
  }

  #lowerBodyWrapper {
    display: flex;
    gap: 50px;
    
  }

  .leg {
    height: 150px;
    width: 50px;
    background-color: grey;
  }

  #feetWrapper  {
    display: flex;
    gap: 50px;
  }

  .foot {
    height: 50px;
    width: 100px;
    background-color: grey;
  }
  